/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Botão do menu lateral */
.menu-toggle {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
    border-radius: 10px;
}

.menu-toggle:focus {
    outline: none;
}

/* Menu Lateral */
.sidebar {
    width: 150px;
    height: 100%;
    background-color: #333;
    position: fixed;
    top: 0;
    border-radius:5px;
    left: -250px; /* Escondido fora da tela */
    transition: 0.3s ease;
    padding-top: 60px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.645);  /* Sombra mais forte no hover */

}

.sidebar.active {
    left: 0; /* Mostra o menu */
}

.sidebar .nav-links {
    list-style: none;
    padding: 0;
}

.sidebar .nav-links li {
    margin-top: 5px;
    margin-left: 3px;
    margin-right: 3px;
}

.sidebar .nav-links a {
    color: #fff;
    padding: 10px 10px;
    display: block;
    text-align: center;
    font-size: 1.1rem;
    background-color: #444;
    border-radius: 10px;  /* Borda arredondada */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);  /* Sombra */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Efeito de hover nos botões do menu */
.sidebar .nav-links a:hover {
    background-color: #555;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);  /* Sombra mais forte no hover */
}

/* Navbar */


/* Conteúdo Principal */
.main-content {
    margin-left: 0;
    transition: 0.3s;
}

.sidebar.active + .main-content {
    margin-left: 250px; /* Move o conteúdo para o lado quando o menu está ativo */
}

/* Container de Cards */
.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 60px;
}

/* Estilo dos Cards */
.card {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 300px;
    padding: 20px;
    transition: transform 0.3s ease;
    text-align: center;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
}

.card-content h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.card-content p {
    font-size: 1rem;
    color: #555;
}

/* Responsividade */
@media (max-width: 768px) {
    .cards-container {
        flex-direction: column;
    }

    .sidebar {
        width: 200px;
        left: -200px;
    }

    .sidebar.active {
        left: 0;
    }

    .sidebar.active + .main-content {
        margin-left: 200px;
    }
    .submit-impressao{
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    position: relative;
    left: 10%;
    z-index: 1000;
    border-radius: 10px;
}

}

@media (max-width: 480px) {
    .sidebar {
        width: 150px;
        left: -150px;
    }

    .sidebar.active {
        left: 0;
    }

    .sidebar.active + .main-content {
        margin-left: 150px;
    }

    .navbar {
        font-size: 1.2rem;
    }
    .submit-impressao{
        background-color: #333;
        color: #fff;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        position: relative;
        left: 10px;
        z-index: 1000;
        border-radius: 10px;
    }
}
/* Estilo para o input */
input#productCodeInput {
    width: 50%;
    padding: 10px;
    font-size: 1.2rem;
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
}

input#productCodeInput:focus {
    outline: none;
    border-color: #b7b7b73a;
}

/* Ajustes para o container de cards */
.main {
    display: flex;
    flex-direction: column; /* Coloca os elementos (h1 e input) em uma coluna */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    height: 30vh; /* Garante que a seção ocupe a altura total da tela */
    text-align: center; /* Centraliza o texto dentro do h1 */
}
.produto-card{
    background-color: #cfc91962;
    
    color: #000000;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
}
.alert{
    background-color: #dc3545;
    color: #fff;
    display: flex;
    text-align: center;
    justify-content: center; 
}
.alert-warning{
    background-color: #dc3591;
    color: #fff;
    display: flex;
    text-align: center;
    justify-content: center; 
}
.submit-impressao{
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    position: relative;
    left: 45%;
    z-index: 1000;
    border-radius: 10px;
}


